name: Auto Update Config

on:
  schedule:
    - cron: '0 22 * * *' # 每天北京时间早上 6 点自动运行
  workflow_dispatch:      # 允许手动触发

permissions:
  contents: write         # 赋予脚本写入仓库的权限

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install dependencies
        run: pip install requests
        
      - name: Run script
        run: python convert.py
        
      - name: Push results
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add LunaTV-formatted.json
          git commit -m "自动更新：$(date +'%Y-%m-%d %H:%M:%S')" || exit 0
          git push
